* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  box-sizing: border-box;
}

.skill-section {
  background: #152934;
  background-size: cover;
  padding: 60px 0;
}
.inner-width {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title {
  text-align: center;
  color: #fc8c24;
  text-transform: uppercase;
  font-size: 30px;
}
.border {
  width: 160px;
  height: 2px;
  background: #fff;
  margin: 40px auto;
}
.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-box {
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.skill-icon {
  display: inline-block;
  width: 82px;
  height: 82px;
  border: 3px solid #fff;
  color: #fff;
  transform: rotate(45deg);
  transition: 0.3s linear;
}
.skill-icon i {
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 50px;
}
.skill-box:hover .skill-icon {
  background: #fff;
  color: #152934;
}
.skill-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #fc8c24;
}
.skill-desc {
  font-size: 14px;
  margin-bottom: 2;
}

@media screen and (max-width: 960px) {
  .skill-box {
    max-width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .skill-box {
    max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .skill-box {
    max-width: 100%;
  }
}
